html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
}
.empty-div{
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.wrapper-receipt{
min-height: 60vh;
}


/*- header-*/
.header-div{

  display: flex;
  margin-bottom: 20px;
  background: #000;
  padding: 20px 0px;
  font-family: 'Play', sans-serif;
  text-align: left;
  width: 100vw;
  color: white;
}

.small-div{
min-height: 45vh;
margin-top: 50px;
}


img:not(.delete-svg) {
  margin-left: 40px;
  margin-right: 40px;
  width: 50px;
  height: auto;
}
.delete, .delete-svg{
  width: 20px;
  height: auto;
  background-color:none;
}


/* user_receipt.html */
.table1{
  margin-bottom: 60px;
}



/*- ----------------- -*/
h1{
    border-bottom: 0.5px rgb(0, 8, 80) solid;
    padding-bottom: 10px;
    margin-bottom: 10px; /* Add margin to separate the tables */

}
h2{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-info-div{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 90%;
    height: auto;
    max-width: 800px; /* Adjust this value as needed */
    padding: 20px;
    margin-top: 20px; /* Add margin to separate the tables */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Optional background color */
}

#elements {
    width: 100%;
    border-collapse: collapse;
}



th, td {
    padding: 10px;
    text-align: left;
}
.information{

  margin-bottom: 50px;
}

.balance-div {
  position: absolute;
  top: 320px;
  right: 25px;
  margin: 20px; /* Adjust the margin as needed */
  text-align: right;
}

.balance-form{
  text-align: left;
}
/* Add this to center the balance table content */
#balance {
  margin: auto;
  width: 220px;
}
/* Add this to center the content in the balance table */
#balance th {
  text-align: center;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-div{
  margin-top: 25px;
}

/*============ buttons ==============*/
.buttons{
  text-align: center;
  margin-bottom: 70px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #404040;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 100px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto; /* Horizontally center the button */
}


.edit-div{
  background-color: #ffffff9d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90vw;
  height: auto;
  max-width: 850px; /* Adjust this value as needed */
  margin-top: 20px;
  margin-bottom: 40px; 
}

#formDivEdit{
  background-color: #ffffff9d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90vw;
  height: auto;
  max-width: 850px;
  margin-top: 50px;

 
}
#formDivEdit:not(.btn){
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align items to the start and end of the container */
}


.btn-edit{
  margin-top: 50px;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.input{
    height: 30px;
    width: 180px;
    padding: 10px;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #141e4669;

}
.btn{
  display: inline-block;
  background-color: #9d9c9c;
  border: none;
  vertical-align: middle;
}
.submit-input{
  color: black;
  background-color: rgba(159, 159, 159, 0.476);
  border: 0px;
  padding: 14px 16px;
  border-radius: 5px;
  margin-left: 15px;
}
.submit-input:hover {
  background-color: #111;
  color: white;
  border-radius: 5px;
}

.search-btn{
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  
}

li {
  margin-right: 130px; /* Adjust this value as needed */
}

.name-li {
  margin-left: 20px; /* Adjust this value as needed */
}

.url-li {
  margin-right: 0;
  margin-left: -80px;
}


/* footer*/
footer{
  margin-top: 40px;
}
.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  width: 100vw;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the ul horizontally */
}

.footer .row ul li {
  display: inline-block;
  margin: 0 20px; /* Adjust the margin as needed */
  text-align: center; /* Center the li */
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul {
    justify-content: flex-start; /* Align the ul to the left */
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}
.delete{
  background-color: none; 
  border: none;

}
